@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.landingContent h1{
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.landingContent .slogan{
    animation: slideLeft 1s ease-in-out;

}
.tiktok{
    animation: slideLeft 1s ease;
}
.discord{
    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes slideIn{
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes slideLeft{
    from{
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    }
}
body::-webkit-scrollbar{
    width: 0 !important;
}
body{
    overflow-y: scroll;
}